@import './base.css';
@import 'tailwindcss';

@theme {
    --color-primary: #f3743d;
    --color-textIcon: #939393;
}
/* @layer base {
    body {
        font-family: 'Helvetica Neue', sans-serif;
        background-color: var(--color-primary);
        color: #333;
    }
} */
